@use '../abstract/variaveis';
@use '../abstract/mixins';

#nosso-espaco{
  @include mixins.margem-central(80%);

  .detalhes{
    width: 100%;
    display: inline-flex;
    align-items:  center;
    justify-content: space-around;
    gap: 2em;
    padding: 2em 0;

    .imgs-espaco{
      max-width: 500px;
      display: flex;

      .img-espaco:nth-child(2){
        padding: 0 1em;
      }
    }

    .espaco-textos{
      max-width: 500px;

      .titulo{
        @include mixins.fonte(variaveis.$fonte-titulos, 1.8rem, variaveis.$roxo-vibrante);
        font-weight: 500;
      }
  
      .infos{
        @include mixins.fonte(variaveis.$fonte-textos, 1.2rem, variaveis.$roxo-escuro);
      }

      .separador{
        width: 100%;
      }
    }

    &:nth-child(2){
      flex-direction: row-reverse;
    }
  }

}