$roxo-escuro: #0C0421;
$roxo-vibrante: #1840db;
$azul: #4E75FF;
$roxo-calmante: #85A0FF;
$lilas: #CAD4FA;
$verde-calmante: #E8F5C8;
$gradiente-primario: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
$gradiente-secundario: linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(202,212,250, 0.3) 100%);
$cor-branca: #FFFFFF;

$fonte-textos: 'MontSerrat', sans-serif;
$fonte-titulos: 'Krona One', sans-serif;