body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
  padding: 2em;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6em;
}
header nav .linha {
  border-top: 1px solid black;
  width: 80%;
}
header nav ul {
  display: inline-flex;
  gap: 2em;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
  font-weight: 500;
}
header nav ul li a:hover {
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
header #home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
  width: 80%;
  padding: 3em 0;
}
header #home .textos-home {
  max-width: 464px;
}
header #home .textos-home h1 {
  line-height: 63px;
  font-weight: 400;
  font-family: "MontSerrat", sans-serif;
  font-size: 3em;
  color: #0C0421;
}
header #home .textos-home h1 span {
  color: #1840db;
}
header #home .textos-home .btn-main {
  padding: 0.5em 2em;
  font-size: 22px;
  background-color: #1840db;
  color: #FFFFFF;
  border: none;
  border-radius: 40px;
  box-shadow: none;
  transform: translate(0, 0);
  transition: all 0.4s ease-in-out;
}
header #home .textos-home .btn-main:hover {
  cursor: pointer;
  background-color: black;
  box-shadow: -1px 7px 5px #7a7a7c;
  transform: translate(5px, -5px);
  transition: all 0.4s ease-in-out;
}
header #home .img-home {
  max-width: 474px;
}
header #home .img-home img {
  width: 100%;
}

#nosso-espaco {
  margin: 0 auto;
  width: 80%;
}
#nosso-espaco .detalhes {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  padding: 2em 0;
}
#nosso-espaco .detalhes .imgs-espaco {
  max-width: 500px;
  display: flex;
}
#nosso-espaco .detalhes .imgs-espaco .img-espaco:nth-child(2) {
  padding: 0 1em;
}
#nosso-espaco .detalhes .espaco-textos {
  max-width: 500px;
}
#nosso-espaco .detalhes .espaco-textos .titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.8rem;
  color: #1840db;
  font-weight: 500;
}
#nosso-espaco .detalhes .espaco-textos .infos {
  font-family: "MontSerrat", sans-serif;
  font-size: 1.2rem;
  color: #0C0421;
}
#nosso-espaco .detalhes .espaco-textos .separador {
  width: 100%;
}
#nosso-espaco .detalhes:nth-child(2) {
  flex-direction: row-reverse;
}

#servico {
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
  padding: 5em 0;
}
#servico .cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  gap: 1.5rem;
}
#servico .cards .card {
  border: 2px solid white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  padding: 1em 1.5em;
  text-align: center;
  border-radius: 32px;
}
#servico .cards .card .card-titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.3em;
  color: #0C0421;
  font-weight: 400;
}
#servico .cards .card .card-texto {
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
  font-weight: 400;
}

#desconto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#desconto .desconto-form {
  text-align: center;
}
#desconto .desconto-form #labelEmail {
  text-indent: -9999px;
}
#desconto .desconto-form h4 {
  font-family: "Krona One", sans-serif;
  font-size: 1.4em;
  color: #0C0421;
}
#desconto .desconto-form p {
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
}
#desconto .desconto-form .input-btn {
  width: 790px;
  height: 65px;
  border: 1px solid #4E75FF;
  border-radius: 65px;
  margin: 0 auto;
  display: inline-flex;
}
#desconto .desconto-form .input-btn:hover {
  border-color: black;
  transition: all 0.4s ease-in-out;
}
#desconto .desconto-form .input-btn:hover button {
  background-color: black;
  transition: all 0.4s ease-in-out;
}
#desconto .desconto-form .input-btn input {
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
  width: 513.5px;
  border: none;
  outline: none;
  margin-left: 2em;
}
#desconto .desconto-form .input-btn button {
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #FFFFFF;
  width: 276.5px;
  background: #1840db;
  border: none;
  border-radius: 0 65px 65px 0;
  cursor: pointer;
}
#desconto .desconto-form .input-btn button:hover {
  background-color: black;
  transition: all 0.4s ease-in-out;
}

#contatos {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 4em 0;
}
#contatos .contatos-imgs {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.3em;
  justify-content: space-around;
}
#contatos .contatos-imgs img {
  width: 100%;
}
#contatos .contatos-imgs img:nth-child(n+2) {
  width: 48%;
}
#contatos .contatos-form {
  max-width: 50%;
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
  border-radius: 48px;
  padding: 2em 3em;
}
#contatos .contatos-form .titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.2em;
  color: #1840db;
}
#contatos .contatos-form .infos, #contatos .contatos-form .inputs .form-group label {
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
}
#contatos .contatos-form .inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  align-self: stretch;
}
#contatos .contatos-form .inputs input, #contatos .contatos-form .inputs .btn, #contatos .contatos-form .inputs .form-group textarea {
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 1em;
}
#contatos .contatos-form .inputs .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#contatos .contatos-form .inputs .form-group label {
  font-weight: bold;
}
#contatos .contatos-form .inputs .form-group textarea {
  resize: none;
  padding: 2em 1em;
}
#contatos .contatos-form .inputs .btn {
  background-color: #1840db;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  margin-top: 2em;
  border-radius: 40px;
  box-shadow: none;
  transform: translate(0, 0);
  transition: all 0.4s ease-in-out;
}
#contatos .contatos-form .inputs .btn:hover {
  cursor: pointer;
  background-color: black;
  box-shadow: -1px 7px 5px #7a7a7c;
  transform: translate(5px, -5px);
  transition: all 0.4s ease-in-out;
}

footer {
  font-family: "MontSerrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
  padding: 2em;
  background: #E8F5C8;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */